{% extends "base.html" %}

{% block content %}
    <h1>Add Book</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_name.label }}<br>
            {{ form.book_name(size=32) }}<br>
            {% for error in form.book_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_author.label }}<br>
            {{ form.book_author(size=64) }}<br>
            {% for error in form.book_author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_release.label }}<br>
            {{ form.book_release(size=16) }}<br>
            {% for error in form.book_release.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.book_pris.label }}<br>
            {{ form.book_pris(size=16) }}<br>
            {% for error in form.book_pris.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}