<html>
    <link rel="stylesheet" href="css/index.css">
    <head>
        {% if title %}
        <title>{{ title }} - webshop</title>
        {% else %}
        <title>webshop</title>
        {% endif %}
    </head>
    <body>
        <div>
            Webshop ig:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/kurv"; style="padding-left: 85%;">Kurv</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>