<html>
    <link rel="stylesheet" href="css/index.css">
    <head>
        {% if title %}
        <title>{{ title }} - webshop</title>
        {% else %}
        <title>webshop</title>
        {% endif %}
    </head>
    <body>
        Book shop:
        <div style="display: flex;">
            <form action="{{ url_for('index') }}" method="get">
            <button>Home</button>
        </form>
            {% if current_user.is_anonymous %}
            <form action="{{ url_for('login') }}" method="get">
                <button>Login</button>
            </form>
            {% else %}
            <form action="{{ url_for('logout') }}" method="get" style="margin-left: 5px;">
                <button>logout</button>
            </form>
            {% endif %}
            <form action="{{ url_for('kurv') }}" method="get" style="margin-left: 89%;">
                <button >Cart</button>
            </form>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>